<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Webchat Client</title>
	<link href="public/styles.css" rel="stylesheet" type="text/css" />
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300&display=swap" rel="stylesheet">
	<link rel="apple-touch-icon" sizes="180x180" href="/public/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/public/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/public/favicons/favicon-16x16.png">
	<link rel="manifest" href="/public/favicons/site.webmanifest">
	<link rel="mask-icon" href="/public/favicons/safari-pinned-tab.svg" color="#000000">
	<link rel="shortcut icon" href="/public/favicons/favicon.ico">
	<meta name="msapplication-TileColor" content="#2b5797">
	<meta name="msapplication-config" content="/public/favicons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
</head>

<body>
	<header class="header">Webchat Client</header>
	<div class="center">
		<div class="chatbox">
			<div class="wrap">
				<span id="chattext"></span>
</div>
			<div id="userbox">
				Users:
				<div id="userlist">

				</div>
			</div>
		</div>
		<form id="joinbox">
			<label for="username">Username:</label>
    <input type="text" id="username" name="username">
    <input class="submit" type="submit" value="Join">
    </form>
    <p id="status"></p>
    <form id="chatform">
      <input type="text" id="message" name="message"></input><br>
      <input class="submit" type="submit" onclick="" value="Send">
    </form>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="public/script.js"></script>
</body>

</html>